{% extends "layout.html" %}
{% block content %}
    <h4>BitVue Networks Profile</h4>
    <p>Enabling organizations to consolidate, secure and speed up access to the IT infrastructure through standard-based workspace virtualization and remote access technologies. We intend to provide secure and instant access to business applications from any device and network, ensuring compliant enterprise mobility for business users while keeping governance with the organization.</p>
    <p>BitVue Networks is a single stop service provider to build an integrated workspace for business users, providing seamless access to modern web applications, SaaS applications, client-server applications, legacy applications, virtual applications and virtual desktops. We enable organizations to embrace IoT and improve their productivity.</p>
{% endblock %}